spring:
  profiles:
    active: local

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:erikyu.98414@gmail.com}
    password: ${MAIL_PASSWORD:zaha mkbx kjmk gbal}
    properties:
      mail:
        debug: false
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  datasource:
    hikari:
      minimum-idle: 10
      maximum-pool-size: 20
      idle-timeout: 30000
      max-lifetime: 600000

server:
  port: 8090

  tomcat:
    threads:
      max: 200
    connection-timeout: 20000

java:
  awt:
    headless: false

logging:
  level:
    org.hibernate: WARN
    org.mongodb: WARN
    org.springframework: INFO

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always

qc:
  snapshot:
    api:
      url: ${QC_SNAPSHOT_API_URL:http://localhost:8081}